nav {
  background: rgb(00, 00, 00, 0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 5px;
  padding: 0px;
  color: white;
}

button {
  border: 0px;
  background: linear-gradient(to right, #48dbfb, #48b3fb);
  font-size: 18px;
  color: white;
  margin-right: 14px;
  height: 40px;
  width: 100px;
  box-shadow: 5px 5px 0px black;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background: #ffffff;
    color: #48b3fb;
  }
}
